  <footer class="page-footer red darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">CS-TLU Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of university students working on some projects during the study period. Any amount would help support and continue development on  project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="http://thanglong.edu.vn">Thang Long University</a></li>
            <li><a class="white-text" href="http://thanglongit.net">TLIT</a></li>
            <li><a class="white-text" href="http://facebook.com/groups/149792515652413/">Facebook</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                Made by <a target="_blank" class="orange-text text-lighten-3" href="http://materializecss.com">Thangdn</a>
                <span style="text-align: right; float: right">
                Copyright © 2018 <a href="http://www.thanglong.edu.vn" class="orange-text text-lighten-3">Thang Long University</a>. Powered by <a target="_blank" href="http://thangdn.com/" class="orange-text text-lighten-3">Thangdn</a>
                </span>
            </div>
        </div>
    </div>
</footer>
